body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(58, 115, 8);
    color: rgb(0, 0, 0);
    font-size: 60px;
    /* margin: 0 auto; */
    /* width: 1333px; */
}
body:hover{
    background-color: white;
}

form {
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:  0 auto;
    width: 303px;
}

input{
    padding: 12px;
    border-radius: 11px;
    background-color: transparent;
    font-size: 33px;
    color: rgb(0, 0, 0);
    margin-bottom: 12px;
}

button{
    padding: 12px;
    cursor: pointer;
    border-radius: 11px;
    background-color: transparent;
    font-size: 33px;
    color: rgb(0, 0, 0);
}
button:hover{
    color: white;
    background-color: red;
}
